body {
	background-color: #f3f2ef;
	font-family: Arial, Helvetica, sans-serif;
}
.top-settings {
	border-radius: 0.4rem;
	line-height: 1.5;
}
.img {
	border-radius: 0.4rem;
}

.youknow {
	background-color: white;
	border-radius: 0.4rem;
}
.bordered {
	border-bottom: 1px solid grey;

	background-color: white;
}

i.fa-pencil-alt:hover,
i.fa-caret-down:hover {
	border-radius: 50%;
	background-color: gainsboro;
	cursor: pointer;
}

.endorsement i.fa-pencil-alt:hover,
i.fas.fa-plus:hover {
	border-radius: 50%;
	cursor: pointer;
	background-color: #eff7fe;
}

.endorsement h5 {
	padding: 5px;
}
.endorsement h5:hover {
	background-color: #efefef;
	cursor: pointer;
}

.text-primary.text-center.card-footer:hover {
	background-color: #eff7fe;
	cursor: pointer;
}

.card-header div:nth-child(1):hover {
	text-decoration: underline;
	cursor: pointer;
}

.progressBar > div {
	width: 105px;
	height: 14px;
}

.card {
	border-radius: 10px;
}

.dashBoardContent > div:hover {
	text-decoration: underline;
	cursor: pointer;
}
.posts span {
	padding: 10px;
	border-radius: 5px;
}
.posts span:hover {
	background-color: #e4e4e4;
	cursor: pointer;
}

.postProfile img:hover,
.postProfile h5:hover {
	cursor: pointer;
	color: #0a66c2;
	text-decoration: underline;
}

.fas.fa-ellipsis-h:hover {
	background-color: #e0e0e0;
	border-radius: 50%;
	cursor: pointer;
}

.fas.fa-times:hover {
	cursor: pointer;
	border-radius: 50%;
	background-color: rgb(243, 203, 203);
}
.ProfileCardImg {
	height: 20%;
}
.ProfileCard {
	border-top: 0.7rem solid gold;
}
.avatarProfile {
	background-color: white;
	padding: 2px;
	width: 10rem;
	height: auto;
	margin-top: -10%;
	width: 68px;
	height: 68px;
	object-fit: cover;
	border-radius: 50%;
}
.gold-box {
	color: gold;
}
.BorderCardProfile {
	border-top: 1px solid grey;
}
.card-header {
	background-color: white;
	border-top: 1px solid grey;
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
}
.linkedin-icon {
	color: rgb(6, 95, 146);
}
.follow-links {
	border: 3px solid rgb(6, 95, 146);
	border-radius: 1rem;
}
.sideFooter {
	font-size: 0.7rem;
	background-color: inherit;
	border: none;
}

.commentDelete span:last-child button.btn {
	height: 40px !important;
	text-align: center !important;
	line-height: 10px;
	padding: 10px 8px !important;
}
